	<div class="jumbo">
		<div class="filter-black flex-container">
			<div class="flex-item text-center">
				<h1>DES SOLUTIONS POUR <br> UNE AFRIQUE EMERGEANTE.</h1>
				<%= link_to 'Découvrez les projets', root_path, class: 'btn-medium-yellow' %>
				<%= link_to 'Proposez un projet', root_path, class: 'btn-medium-red'%>
			</div>
		</div>
	</div>

	<div class="discover text-center">
		<div class="discover-title">
			Decouvrez des projets innovants ambitieux et solides
		</div>
		<div class="discover-title-project">
			Les projets coup de coeur
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="project-card">
						<div class="img-1">
						</div>
						<div class="description">
							DÉVELOPPER LE COLLÈGE SAINT-JEAN BAPTISTE DE BANGOU.
						</div>
						<div class="location">
							<div class="icon">
								<%= image_tag "placeholder.svg" %>
							</div>
							<div class="location-text">
								Bangou, OUEST
							</div>
						</div>
						<div class="price-day">
							<div class="price">
								€120 (6%)
							</div>
							<div class="day">
								16 jours restants
							</div>
						</div>						
						<div class="statement">	
							<progress id="avancement" value="30" max="100"></progress>
						</div>
						<%= link_to 'Voir le projet', root_path, class:'btn-medium-yellow-w-m btn-block' %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project-card">
						<div class="img-1">
						</div>
						<div class="description">
							DÉVELOPPER LE COLLÈGE SAINT-JEAN BAPTISTE DE BANGOU.
						</div>
						<div class="location">
							<div class="icon">
								<%= image_tag "placeholder.svg" %>
							</div>
							<div class="location-text">
								Bangou, OUEST
							</div>
						</div>
						<div class="price-day">
							<div class="price">
								€120 (6%)
							</div>
							<div class="day">
								16 jours restants
							</div>
						</div>						
						<div class="statement">	
							<progress id="avancement" value="30" max="100"></progress>
						</div>
						<%= link_to 'Voir le projet', root_path, class:'btn-medium-yellow-w-m btn-block' %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project-card">
						<div class="img-1">
						</div>
						<div class="description">
							DÉVELOPPER LE COLLÈGE SAINT-JEAN BAPTISTE DE BANGOU.
						</div>
						<div class="location">
							<div class="icon">
								<%= image_tag "placeholder.svg" %>
							</div>
							<div class="location-text">
								Bangou, OUEST
							</div>
						</div>
						<div class="price-day">
							<div class="price">
								€120 (6%)
							</div>
							<div class="day">
								16 jours restants
							</div>
						</div>						
						<div class="statement">	
							<progress id="avancement" value="30" max="100"></progress>
						</div>
						<%= link_to 'Voir le projet', root_path, class:'btn-medium-yellow-w-m btn-block' %>
					</div>
				</div>
			</div>
		</div>
		<div class="discover-title-project">
			Les nouveau projets
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="project-card">
						<div class="img-1">
						</div>
						<div class="description">
							DÉVELOPPER LE COLLÈGE SAINT-JEAN BAPTISTE DE BANGOU.
						</div>
						<div class="location">
							<div class="icon">
								<%= image_tag "placeholder.svg" %>
							</div>
							<div class="location-text">
								Bangou, OUEST
							</div>
						</div>
						<div class="price-day">
							<div class="price">
								€120 (6%)
							</div>
							<div class="day">
								16 jours restants
							</div>
						</div>						
						<div class="statement">	
							<progress id="avancement" value="30" max="100"></progress>
						</div>
						<%= link_to 'Voir le projet', root_path, class:'btn-medium-yellow-w-m btn-block' %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project-card">
						<div class="img-1">
						</div>
						<div class="description">
							DÉVELOPPER LE COLLÈGE SAINT-JEAN BAPTISTE DE BANGOU.
						</div>
						<div class="location">
							<div class="icon">
								<%= image_tag "placeholder.svg" %>
							</div>
							<div class="location-text">
								Bangou, OUEST
							</div>
						</div>
						<div class="price-day">
							<div class="price">
								€120 (6%)
							</div>
							<div class="day">
								16 jours restants
							</div>
						</div>						
						<div class="statement">	
							<progress id="avancement" value="30" max="100"></progress>
						</div>
						<%= link_to 'Voir le projet', root_path, class:'btn-medium-yellow-w-m btn-block' %>
					</div>
				</div>
				<div class="col-md-4">
					<div class="project-card">
						<div class="img-1">
						</div>
						<div class="description">
							DÉVELOPPER LE COLLÈGE SAINT-JEAN BAPTISTE DE BANGOU.
						</div>
						<div class="location">
							<div class="icon">
								<%= image_tag "placeholder.svg" %>
							</div>
							<div class="location-text">
								Bangou, OUEST
							</div>
						</div>
						<div class="price-day">
							<div class="price">
								€120 (6%)
							</div>
							<div class="day">
								16 jours restants
							</div>
						</div>						
						<div class="statement">	
							<progress id="avancement" value="30" max="100"></progress>
						</div>
						<%= link_to 'Voir le projet', root_path, class:'btn-medium-yellow-w-m btn-block' %>
					</div>
				</div>
			</div>
		</div>
		<div class="see-more">
			<%= link_to 'Découvrir d\'autres projets', root_path, class: 'btn-medium-yellow-border' %>
		</div>
	</div>

	<div class="cta-project flex-container text-center">
		<div class="flex-item">
			<div class="cta-text">
				Vous êtes porteur de projet ? Lancez-vous !
			</div>
			<div class="cta-btn">
				<%= link_to 'Proposez un projet', root_path, class: 'btn-medium-white-border' %>
			</div>
		</div>
	</div>

	<div class="why text-center">
		<div class="why-text">
			POURQUOI CHOISIR FIATOPE ?
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3">
					<div class="why-icon">
						<%= image_tag	"securite.svg" %>
					</div>
					<div class="why-title-item">
						Sécurité
					</div>
					<div class="why-description">
						Chez Fiatope, nous respectons nos engagements de confidentialité. Vos informations de paiement et vos contributions sont sécurisées.
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="why-icon">
						<%= image_tag	"fiabilite.svg" %>
					</div>
					<div class="why-title-item">
						Fiabilité
					</div>
					<div class="why-description">
						Vous avez l'assurance que vos dons seront reçus par le porteur de projet bénéficiare. En effet la Banque de France encadre strictement l'activité de détention de fonds pour le compte de tiers et garantit la destination des fonds via l'agrément qu'elle donne à notre intermédiaire de paiement et les obligations légales de Fiatope.

						<p>Notre partenaire local se charge de remettre au porteur de projet via un processus transparent, la collecte des Fiatopers.</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="why-icon">
						<%= image_tag	"professionnalisme.svg" %>
					</div>
					<div class="why-title-item">
						Professionnalisme
					</div>
					<div class="why-description">
						Notre aptitude à sélectionner pour vous des projets ambitieux, originaux et innovants
						dans des domaines tels que l'enseignement supérieur, la santé, les technologies, l'environnement, l'agriculture, la culture. 

						<p>Nous travaillons pour cela avec de nombreux partenaires en Europe et en Afrique.</p>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="why-icon">
						<%= image_tag	"transparence.svg" %>
					</div>
					<div class="why-title-item">
						Transparence
					</div>
					<div class="why-description">
						Fiatope est une entreprise responsable. Nous travaillons avec des partenaires agréés par les autorités administratives et financières françaises et internationales. 

						<p>Nous mettons tout en oeuvre pour garantir la sécurité de vos informations et des fonds que vous nous confiez pour des tiers.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="partnership text-center">
		<div class="why-text">
			NOS PARTENAIRES
		</div>
		<div class="col-md-4">
			<div class="partner-icon">
				<%= image_tag	"oserlafrique.png" %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="partner-icon">
				<%= image_tag	"oserlafrique.png" %>
			</div>
		</div>
		<div class="col-md-4">
			<div class="partner-icon">
				<%= image_tag	"oserlafrique.png" %>
			</div>
		</div>
	</div>

